.login {
    margin: 30px auto;
    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 20px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;

    &__name {
      text-align: center;
      color: blue;
    }
    &__item {
    margin-bottom: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;


     .item-name{
       color: gray;
       font-size: 20px;
       font-style: italic;
     }

     .item-inp{
      width: 100%;
      border: 1px solid grey;
      padding-left: 10px;
      outline: none;
      margin-top: 10px;
      height: 25px;
      font-size: 15px;
     }
  }
  .submit{
    width: 150px;
    margin-top: 15px;
    border: none;
    outline: none;
    height: 40px;
    cursor: pointer;
    color: white;
    background: blue;
  }
}
